@charset "UTF-8";
  /*************/
 /* Rewriting */
/*************/
.link{
	max-width                 : none;}

.bg-slategray .custom.title {
	color           : #D4D7D7;
	text-shadow     : none;
	padding-top     : 10px;
	font-family     : "source-l";
	font-size       : 35px;
	margin          : 0;}

.bg-slategray .custom.title.h2{
	font-size       : 20px;}

.custom input[type=checkbox] {
	position                  : relative !important;
	padding                   : 0;
	margin                    : auto;
	width                     : 20px;
	height                    : 20px;
	overflow                  : hidden;
	clip                      : rect(5px 5px 5px 5px);
	border                    : 0;}

.custom.button.large {
	color                     : #C7C7C7;
	text-align                : center;
	font-family               : "source-l" !important;
	font-size                 : 20px !important;
	background-color          : #595B5A;
	border                    : 0px;
	display                   : inline-block;
	-webkit-box-shadow        : 1px 2px 1px 1px #3D3E40;
	box-shadow                : 1px 2px 1px 1px #3D3E40;
	-webkit-border-radius     : 0px;
    border-radius             : 0px;
	height                    : 50px !important;
	margin                    : 0 !important;
	padding                   : 20px auto 10px auto !important;}

.button.dark, .button.dark:hover, .button.dark.disabled:hover, .button.dark.disabled:active{
	border-radius             : 0;
	border                    : none; 
	background-image          : none;
	background-color          : #494D4E!important;}
.button.dark:hover {
	color                     : #5DC1FF!important;}
.button.cta, .button.cta.disabled:hover, .button.cta.disabled:active{
	background-color: #278ddf;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#278ddf),to(#278ddf));
	background-image: linear-gradient(top,#278ddf,#278ddf);}

  /**********/
 /* Styles */
/**********/
html,
body {
	background-color: #404446;
	margin:0;
	padding:0;
	height:100%;}

#container {
	padding: 0;
	min-height:100%;
	position:relative;}

#header {
	background-color: #595B5A;
	width: 100%;
	height: 80px;
	-webkit-box-shadow:  0px 0px 1px 2px #3D3E40;
    box-shadow:  0px 0px 1px 2px #3D3E40;}
	#headerContent{
		width: 960px;
		margin: auto;
		text-transform: uppercase;}
			.bg-slategray .custom.title {
				text-transform  : none;
				color           : #D4D7D7;
				text-shadow     : none;
				padding-top     : 10px;
				font-family     : "source-l";
				font-size       : 35px;
				margin          : 0;}
				h1 a{
					display: block;
					color           : #D4D7D7;}
			.customh2{
				margin-top: 0;
				font-family: "source";
				color: #5DC1FF;
				font-size: 14px;}
			#headerContent ul{
				margin-top: 25px;
				float: right;}
			#headerContent ul li{
				display: inline-block;
				margin: 4px;}


#body {
	padding-bottom: 100px;   /* Height of the footer, don't forget to change #footer value */
	}

#progressContainer{
	margin-right: auto;
	margin-left: auto;
	width: 100%;}
	#progress{}
		.bar {
			margin: 0;
		    height: 25px;
		    background: #5DC1FF;}
		    .bar p {
		    	padding-top: 3px;
		    	position: absolute;
		    	width: 100%;
		    	margin: 0;
				text-align: center;
				font-size: 14px;}
				#progressBarText{
					color : #FFF;
					font-size : 10 px;}

		.navElement{
			display: inline-block;}
			#addScreenInputText{
				margin-top: 5px;
				width: 96px;}
				.text-field.navInputText{
					-webkit-border-radius: 0px;
					border-radius: 0px;
					min-width: 0;
					height: 17px;
					width: 96px;}
				.navInputText:first-of-type{
					margin-bottom: 7px;}

			#autoCropCheckboxDiv{
				display: block;
				text-align: center;}

			/* Button format */
			#buttonUpload{
				float: left;
				width: 90px}
			#buttonCropItContainer{
				margin-top: 22px;
				display: block;
				margin-left: auto;
				margin-right: auto;
				width: 94px;}
				#buttonCropIt{
					width: 94px;}
				#cropItProgressBar{
					margin-top: 8px;
					margin-right: 32px;}

			#yourVideoContent{
				position: relative;
				z-index: 20;
				text-align: left;
				width: 220px;
				display: inline-block;}
				#YourVideoToolbar{
					position: relative;
					-webkit-box-shadow         : 1px 2px 1px 1px #3D3E40;
					box-shadow                 : 1px 2px 1px 1px #3D3E40;}
					#videoDownloadButtonDiv{
						text-align             : center;
						background-color       : #595B5A;
						height                 : 67px;}
						#buttonDownloadIt{
							text-align: center;
							display: block;}
							#buttonDownloadItInput{
								margin-top: 8px!important;
								font: 14px/27px "source-sb",helvetica,arial,sans-serif !important;}
					#videoCropListDiv{
						background-color: rgba(0,0,0, 0.5);
						max-height: 300px;
						overflow-y: scroll;}
						.videoCropListDivElement{
						    -webkit-transition: all .8s; 
							   -moz-transition: all .8s; 
						         -o-transition: all .8s; 
						            transition: all .8s;
							text-align            : center;
							line-height           : 50px;
							margin-top            : 0;
							border-bottom         : 1px solid #D4D7D7;}
						.videoCropListDivElement:hover{
						    -webkit-transition: all .1s; 
							   -moz-transition: all .1s; 
						         -o-transition: all .1s; 
						            transition: all .1s;
							background-color       : rgba(0,255,255, 0.5);}
							.videoCropListDivElementContent{
								display           : inline-block;
								vertical-align    : middle;}
							.rectangle{
								height            : 16px;
								width             : 32px;}
							.inputContainer{
								width             : 64px;}
							.videoCropListDivElementContent input{
								width             : 48px;
								display           : inline-block;}
	#videoContent{
		background-repeat    : no-repeat;
		position             : relative;
		z-index              : 10;
		width                : 960px;
		height               : 422px;
		margin               : auto;
		margin-bottom        : 25px;}
		#uploadZone{
			z-index: 50;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;}
		/*
		#uploadZone:hover{
			cursor: pointer;
			background-color: rgba(255,255,255,.1);
			border: 1px dashed #5DC1FF;}
		*/
		#videoPhotoBackground{
			z-index: 20;
			background-position: center top; 
			background-repeat: no-repeat;
			position: absolute;
			opacity: 0;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;}
		#cropsContainer{
			z-index: 25;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;}
		#videoContentBackground{
			margin           : auto;
			padding-top      : 151px;
			text-align       : center;
			width            : 160px;
			height           : 130px;}
		#videoContentCache{
			position: absolute;
			width: 100%;
			height: 100%;
			}
		.cropLayer{
			z-index: 0;}
			.topLayer{
				z-index: 1;}

#footer {
	position                 : absolute;
	bottom                   : 0;
	width                    : 100%;
	height                   : 100px;   /* Height of the footer don't forget to change body value*/
	border-top               : 1px solid #595B5A;}
	#footerContent{
		text-align           : center;
		width                : 960px;
		margin               : auto;}
		#footerContent p{
			margin-bottom    : 0;}

#cache{
	position: fixed;
	z-index: 999;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(255,255,255,0.5);}
#informationModal{
	position: fixed;
	z-index: 999;
	padding: 10px;
	height: 400px;
	width: 432px;
	overflow-y: scroll;
	text-align: center;
	margin-top: -200px;
	margin-left: -216px;
	top: 50%;
	left: 50%;}

  /***********************/
 /* checksys.php styles */
/***********************/

.checksysPhpContent{
	width: 960px;
	margin-left: auto;
	margin-right: auto;}
.checksysPadding {
	padding-left: 32px;}
.checksysInfo{
	color: #FFF;}
.checksys{
	color: #5DC1FF;}
.checksysError{
	color: #F00;}
.checksysImportant{
	color: #5DC1FF;}

  /***************************/
 /* End checksys.php styles */
/***************************/

#photoOnOffContainer{
	margin-top: 3px;
	display: inline-block;}

.cropDestroyerContainer{
	color: #FFF;
	background-color: #F00;
	-webkit-border-radius: 50px;
    border-radius: 50px;
	display: inline-block;
	width: 15px;
	height: 15px;
	text-align: center;
	cursor: pointer;}
	.cropDestroyer{
		position: absolute;
		text-align: center;
		margin-top: -16px;
		margin-left: -4px;}

#footerContent p{
	line-height: 25px;}

/* Bob */
#toolsMainContainer{
	color: #c6c8c8;
	background-color: rgba(222,226,225,.3);
	padding: 3px;
	z-index: 500;
	position: fixed;
	width: 230px;
	top: 100px;
	left: 70%;}
	#toolsMainContainerMainButton{
		cursor: move;
		font-size: 20px;
		height: 30px;
		background-color: #595B5A;}
		#sphereText{
			float: left;
			margin-top: 2px;}
		#toolIcon{
			float: left;}
		#sphere {
			float: right;
			margin-top: 10px;
			margin-right: 15px;
			cursor: pointer;
			background-color: #c7c7c9;
			display: inline-block;
			border: 1px solid #c7c7c9;
			width: 8px; 
			height: 8px; 
			-webkit-border-radius: 50px;
			border-radius: 50px;
			-webkit-transition: all 300ms ease-in-out;
	        -moz-transition: all 300ms ease-in-out;
	        -o-transition: all 300ms ease-in-out;
	        -ms-transition: all 300ms ease-in-out;}
			#sphere.blue {
			    background-color: #5DC1FF;
			    border-color: #5DC1FF;}
			#sphere.up {
			    background-color: #494D4E;}
	.toolsContainer{
		background-color: #494D4E;
		padding: 0;
		margin: 0;}
	#toolsFirstContainer{}
		#toolsFirstContainer .toolsContainerMenu{
			padding-top: 14px;}
		#firstContainerPanel1{}
			#thumbnailsContainer{
				width: 224px;}
				#thumbnailsList{
					text-align: center;
					margin: auto;}
					.thumbnailsCarousel{
						min-height: 42px; 
						margin: auto;}
						#carouselContainer{
							list-style-type: none;}
							#carouselContainer li:first-child{
								margin-left: -40px;}
							#carouselContainer li{
								margin: 0;
								float: left;
								width: 74px;
								height: 42px;
								cursor: pointer;
							    -webkit-transition: all .8s; 
								   -moz-transition: all .8s; 
							         -o-transition: all .8s; 
							            transition: all .8s;
								opacity: 0.5;}
								#carouselContainer li:hover{
								    -webkit-transition: all .1s; 
									   -moz-transition: all .1s; 
								         -o-transition: all .1s; 
								            transition: all .1s;
									opacity: 1;}
			#videoInformationsDiv{
				z-index                : 999;
				list-style-type        : none;
				padding-top            : 10px; 
				padding-bottom         : 10px;
				padding-left           : 10px;
				margin-top             : 0;
				margin-bottom          : 0;}
					#videoInformationsDiv ul li{
						display        : block;
						margin         : 4px;}
	#toolsSecondContainer{}
		#secondContainerPanel1{}
			#predefinedScreensContainer{}
			#addScreenForm{}
				#buttonAddScreen{
					margin-top: 26px!important;
					margin-left: 5px!important;}
			#screenImportContainer{
				margin-top: 10px;}
				#buttonImportScreen{
					display: inline;}
			#autoCropCheckboxLabel{
				display: block;
				margin-top: 8px;}
	.panel{
		padding: 10px;
		padding-top: 20px;
		display: none;
		margin-top: 3px;
		background-color: #646665;}
		.selectedPanel{
			display: block;}
		.panel h3{
			margin-top: 0;
			margin-bottom: 0;}
		.panel p{
			padding-top: 3px;
			padding-bottom: 3px;
			margin: 0;}
		.buttonBar{
			margin-left: auto;
			margin-right: auto;
			display: block;
			text-align: center;}
			.formatButton{
				width: 32px;}
	.toolsContainerMenu{
		height: 20px;
		width: 230px;
		display: block;
		float: left;
		margin: 0;
		padding: 0px;
		background-color: #3B3F41;
		list-style: none;}
		.toolsContainerMenu li{
			cursor: pointer;
			margin: 0;
			float: left;
			margin-right: 5px;}
			.menuTab{
				height: 20px;}
				.selectedMenu{
					background-color: #646665;}
				.selectedMenu.iconMenu{
					background-color: #3B3F41;}
					.toolsContainerMenu li h3{
						font-size: 11px;
						text-transform: uppercase;
						margin-top: 0;
						margin: 3px;}
#touslesmenus{
	display: none;}
.inline{
	display: inline;}
#importExportContainer{
	width:142px;}




  /*********/
 /* Icons */
/*********/
	#cropcropIcon{
		display: inline-block;
		background-image: url("../img/cropcropIcons.png");
		background-repeat: no-repeat;
		background-position: 0px -59px;
		width: 18px;
		height: 18px;
		vertical-align: middle;
		font-family: "source";
		font-size: 14px;}

	#centralUploadButton{
		display: block;
		background-image: url("../img/cropcropIcons.png");
		background-repeat: no-repeat;
		background-position: 0px -119px;
		margin-right: 0px;
		padding-right: 30px;
		width: 130px;
		height: 65px;
		line-height: 65px;
		vertical-align: middle;
		font-size: 20px;
		text-align: right;}
	#centralUploadButton.hover{
		background-position: 0px -190px;}


	#toolIcon{
		display: block;
		background-image: url("../img/cropcropIcons.png");
		background-repeat: no-repeat;
		background-position: 0px -274px;
		width: 16px;
		height: 16px;
		float: left;
		margin-top: 7px;
		margin-left: 9px;
		margin-right: 9px;}

	#autoCropIcon{
		display: block;
		background-image: url("../img/cropcropIcons.png");
		background-repeat: no-repeat;
		background-position: 0px -59px;
		width: 18px;
		height: 18px;
		float: left;}
	#autoCropIcon:hover{
		background-position: 0px -81px;}
	#downloadIcon{
		display: block;
		background-image: url("../img/cropcropIcons.png");
		background-repeat: no-repeat;
		background-position: -27px -59px;
		width: 18px;
		height: 18px;
		float: left;}
	#downloadIcon:hover{
		background-position: -27px -81px;}

	#iconFormatScreens{
		display: block;
		background-image: url("../img/cropcropIcons.png");
		background-repeat: no-repeat;
		background-position: 0px -295px;
		width: 16px;
		height: 16px;
		float: left;
		margin-top: 18px;
		margin-right: 18px;}
	#iconCrops{
		display: block;
		background-image: url("../img/cropcropIcons.png");
		background-repeat: no-repeat;
		background-position: 0px -316px;
		width: 16px;
		height: 16px;
		float: left;
		margin-top: 18px;
		margin-right: 18px;}
	#iconText{
		display: block;
		background-image: url("../img/cropcropIcons.png");
		background-repeat: no-repeat;
		background-position: 0px -337px;
		width: 16px;
		height: 16px;
		float: left;
		margin-top: 24px;
		margin-right: 18px;}

	#logoGitHub{
		display: block;
		background-image: url("../img/cropcropIcons.png");
		background-repeat: no-repeat;
		background-position: -3px 0px;
		width: 18px;
		height: 18px;
		float: left;}
	#logoTwitter{
		display: block;
		background-image: url("../img/cropcropIcons.png");
		background-repeat: no-repeat;
		background-position: -35px 0px;
		width: 18px;
		height: 18px;
		float: left;}
	#logoFacebook{
		display: block;
		background-image: url("../img/cropcropIcons.png");
		background-repeat: no-repeat;
		background-position: -62px 0px;
		width: 18px;
		height: 18px;
		float: left;}
	#logoHelp{
		display: block;
		background-image: url("../img/cropcropIcons.png");
		background-repeat: no-repeat;
		background-position: -89px 0px;
		width: 18px;
		height: 18px;
		float: left;}

	#logoGitHub:hover{
		background-position: -3px -22px;}
	#logoTwitter:hover{
		background-position: -35px -22px;}
	#logoFacebook:hover{
		background-position: -62px -22px;}
	#logoHelp:hover{
		background-position: -89px -22px;}

	.floatRight{
		float: right!important;}
	#showCropListDivButtonDiv{
		background-color: #646665;
		height: 20px;
		cursor: pointer;}
		#yourScreensText{
			text-transform: uppercase;
			vertical-align: super;}
	#bulkArea{
		margin: 0px;
		width: 358px;
		height: 223px;}

	#triangle {
		display: inline-block;
		margin-left: 32px;
		margin-right: 16px;
		width: 0; 
		height: 0; 
		border-top: 7px solid transparent;
		border-bottom: 7px solid transparent; 
		border-left:7px solid #494D4E; 
		-webkit-transition: all 500ms ease-in-out;
		-moz-transition: all 500ms ease-in-out;
		-o-transition: all 500ms ease-in-out;
		-ms-transition: all 500ms ease-in-out;}
		#triangle.up {
		    -webkit-transform: rotate(90deg);
		       -moz-transform: rotate(90deg);
		        -ms-transform: rotate(90deg);
		         -o-transform: rotate(90deg);
		            transform: rotate(90deg);
			/* IE6–IE9 */
			filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.9914448613738104, M12=-0.13052619222005157,M21=0.13052619222005157, M22=0.9914448613738104, sizingMethod='auto expand');
			zoom: 1;}