@charset "UTF-8";
  /*************/
 /* Rewriting */
/*************/
.link{
	max-width                 : none;}

.custom input[type=checkbox] {
	position                  : relative !important;
	padding                   : 0;
	margin                    : auto;
	width                     : 20px;
	height                    : 20px;
	overflow                  : hidden;
	clip                      : rect(5px 5px 5px 5px);
	border                    : 0;}

.custom.button.large {
	color                     : #C7C7C7;
	text-align                : center;
	font-family               : "source-l" !important;
	font-size                 : 20px !important;
	
	background-color          : #595B5A;
	border                    : 0px;
	display                   : inline-block;

	-webkit-box-shadow        : 1px 2px 1px 1px #3D3E40;
	box-shadow                : 1px 2px 1px 1px #3D3E40;
	-webkit-border-radius     : 0px;
    border-radius             : 0px;

	height                    : 50px !important;
	margin                    : 0 !important;
	padding                   : 20px auto 10px auto !important;}


  /*********/
 /* Fixes */
/*********/
#fix{
	opacity: 0;
}

#etablis{
	position: fixed;
	background-color: #fff;
	top: 100px;
	left: 20px;
}

  /**********/
 /* Styles */
/**********/
html,
body {
	background-color: #404446;
	margin:0;
	padding:0;
	height:100%;}

#container {
	padding: 0;
	min-height:100%;
	position:relative;}

#header {
	background-color: #595B5A;
	width: 100%;
	height: 80px;

	-webkit-box-shadow:  0px 0px 1px 2px #3D3E40;
    box-shadow:  0px 0px 1px 2px #3D3E40;}
	#headerContent{
		width: 960px;
		margin: auto;
		text-transform: uppercase;}
			.bg-slategray .title {
				color           : #D4D7D7;
				text-shadow     : none;
				padding-top     : 10px;
				font-family     : "source-l";
				font-size       : 35px;
				margin          : 0;}
			.customh2{
				margin-top: 0;
				font-family: "source";
				color: #5DC1FF;
				font-size: 14px;}
			#headerContent ul{
				margin-top: 25px;
				float: right;}
			#headerContent ul li{
				display: inline-block;
				margin: 4px;}


#body {
	padding-bottom: 100px;   /* Height of the footer, don't forget to change #footer value */
	}
	#nav{
		height: 50px;
		text-align: right;
		width: 960px;
		margin: auto;
		margin-bottom: 18px;
		margin-top: 20px;}
		.navElement{
			vertical-align: top;
			display: inline-block;}
			#addScreenInputText{
				margin-top: 5px;
				width: 96px;
				margin-right: 20px;}
				.text-field.navInputText{
					-webkit-border-radius: 0px;
	    			border-radius: 0px;
					min-width: 0;
					height: 17px;
					width: 96px;}
				.navInputText:first-of-type{
					margin-bottom: 7px;}

			#autoCropCheckboxDiv{
				text-align: center;
				width: 120px;}

			/* Button format */
			#buttonUpload{
				float: left;
				width: 90px}
			#buttonAddScreen{
				width: 123px}
			#buttonCropItContainer{
				margin-right: 54px;
				width: 94px;}
				#buttonCropIt{
					width: 94px;}
				#cropItProgressBar{
					margin-top: 8px;
					margin-right: 32px;}

			#yourVideoContent{
				position: relative;
				z-index: 20;
				text-align: left;
				width: 220px;
				display: inline-block;}
				#buttonYourVideo{
					min-width: 190px}
					#triangle {
						margin-top: 25px;
						display: inline-block;
						width: 0px; 
						height: 0px; 
						margin-left: 33px;
						border-left: 7px solid transparent;
						border-right: 7px solid transparent;
						border-top: 7px solid #5DC1FF;
						-webkit-transition: all 500ms ease-in-out;
				        -moz-transition: all 500ms ease-in-out;
				        -o-transition: all 500ms ease-in-out;
				        -ms-transition: all 500ms ease-in-out;}
						#triangle.up {
						    -webkit-transform: rotate(180deg);
						       -moz-transform: rotate(180deg);
						        -ms-transform: rotate(180deg);
						         -o-transform: rotate(180deg);
						            transform: rotate(180deg);
						               /* IE6–IE9 */
						               filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.9914448613738104, M12=-0.13052619222005157,M21=0.13052619222005157, M22=0.9914448613738104, sizingMethod='auto expand');
						                 zoom: 1;}
				#YourVideoToolbar{
					position: relative;
					-webkit-box-shadow         : 1px 2px 1px 1px #3D3E40;
					box-shadow                 : 1px 2px 1px 1px #3D3E40;}
					#videoInformationsDiv{
						color                  : #000;
						z-index                : 999;
						background-color       : #5DC1FF;
						list-style-type        : none;
						padding-top            : 10px; 
						padding-bottom         : 10px; 
						margin-top             : 0;
						margin-bottom          : 0;}
							#videoInformationsDiv ul li{
								display        : block;
								margin         : 4px;}
					#videoDownloadButtonDiv{
						text-align             : center;
						background-color       : #595B5A;
						height                 : 67px;}
						#buttonDownloadIt{}
							#buttonDownloadItInput{
								margin-top: 8px!important;
								font: 14px/27px "source-sb",helvetica,arial,sans-serif !important;}
					#videoCropListDiv{
						background-color: rgba(0,0,0, 0.5);
						max-height: 300px;
						overflow-y: scroll;}
						.videoCropListDivElement{
						    -webkit-transition: all .8s; 
							   -moz-transition: all .8s; 
						         -o-transition: all .8s; 
						            transition: all .8s;
							text-align            : center;
							line-height           : 50px;
							margin-top            : 0;
							border-bottom         : 1px solid #D4D7D7;}
						.videoCropListDivElement:hover{
						    -webkit-transition: all .1s; 
							   -moz-transition: all .1s; 
						         -o-transition: all .1s; 
						            transition: all .1s;
							background-color       : rgba(0,255,255, 0.5);}
							.videoCropListDivElementContent{
								display           : inline-block;
								vertical-align    : middle;}
							.rectangle{
								height            : 16px;
								width             : 32px;}
							.inputContainer{
								width             : 64px;}
							.videoCropListDivElementContent input{
								width             : 48px;
								display           : inline-block;}
	#videoContent{
		background-repeat    : no-repeat;
		position             : relative;
		z-index              : 10;
		background-color     : #595B5A;
		width                : 960px;
		height               : 422px;
		margin               : auto;}
		#videoContentBackground{
			margin           : auto;
			padding-top      : 151px;
			text-align       : center;
			width            : 120px;
			height           : 130px;}
		#videoContentCache{
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: #595B5A;}
		.cropLayer{
			z-index: 0;}
			.topLayer{
				z-index: 1;}
	#thumbnailsContainer{
		width: 100%;}
		#thumbnailsList{
			text-align: center;
			width: 960px;
			margin: auto;}
			.thumbnailsCarousel{
				min-height: 128px; 
				margin: auto;}
				#carouselContainer li{
					cursor: pointer;
				    -webkit-transition: all .8s; 
					   -moz-transition: all .8s; 
				         -o-transition: all .8s; 
				            transition: all .8s;
					opacity: 0.5;}
				#carouselContainer li:hover{
				    -webkit-transition: all .1s; 
					   -moz-transition: all .1s; 
				         -o-transition: all .1s; 
				            transition: all .1s;
					opacity: 1;}



#footer {
	position                 : absolute;
	bottom                   : 0;
	width                    : 100%;
	height                   : 100px;   /* Height of the footer don't forget to change body value*/
	border-top               : 1px solid #595B5A;}
	#footerContent{
		text-align           : center;
		width                : 960px;
		margin               : auto;}
		#footerContent p{
			margin-bottom    : 0;}

#cache{
	position: fixed;
	z-index: 999;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(255,255,255,0.5);
}
#informationModal{
	position: fixed;
	z-index: 999;
	padding: 10px;
	height: 200px;
	width: 432px;
	text-align: center;
	margin-top: -100px;
	margin-left: -216px;
	top: 50%;
	left: 50%;}




  /**********************/
 /*  WORK IN PROGRESS  */
/**********************/
#progressContainer{
	margin-right: auto;
	margin-left: auto;
	width: 960px;}
	#progress{}
		.bar {
			margin: 0;
		    height: 40px;
		    background: green;}
		    .bar p {
		    	margin: 0;
				text-align: center;
				font-size: 24px; }
			    #progressBarTest {
			    	margin: 0;}

#main{
	width: 0;
	height: 0;
	visibility: hidden;}

#secondMenu{
	margin-left: auto;
	margin-right: auto;
	width: 960px;}

#secondMenuContent{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 960px;}

#autoCropCheckboxLabel{
	display: block;
	margin-top: -8px;}

#betaText{
	vertical-align: super;
	font-family: "source";
	color: #5DC1FF;
	font-size: 14px;}



/*****************************/

.checksysPhpContent{
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#checksysInfo{
	padding-left: 32px;
	color: #5DC1FF;
}
#checksysError{
	color: #F00;
}
#checksysOk{
	color: #0F0;
}
#checksysImportant{
	color: #FF0;
}